@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff !important;
  color: #171717;
  font-family: "Poppins", sans-serif;
}

/* Headings ko bold rakhne ke liye */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
