.container {
  padding: 1.2rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBarOptionContainer {
  display: flex;
}

.buttonJoin {
  color: white;
  padding-inline: 1.2rem;
  padding-block: 0.6rem;
  border-radius: 10px;
  font-size: 0.7rem;
  font-weight: bold;
  background: #cd8987;
  cursor: pointer;
}
